/*

Global
------

General fonts and other global styles of the page.

*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  position: relative;
}

html,
body {
  color: #444;
  height: 100%;
}

body {
  overflow-x: hidden;
}
