<footer class="footer footer-has-mail">

  <h1 class="footer-logo">
    <a href="#">FUTURELIGHTHOUSE</a>
  </h1>
  <div class="footer-mail">
    <div class="footer-mail-holder">
      <a href="mailto: hello@futurelighthouse.com" class="mail">hello@futurelighthouse.com</a>
    </div>
  </div>
  <nav>
    <ul class='main-menu'>
      <li class='main-menu-item'>
        <a href="#" class="is-active">Work</a>
      </li>
      <li class='main-menu-item'>
        <a href="#">Originals</a>
      </li>
      <li class='main-menu-item'>
        <a href="#">About</a>
      </li>
      <li class='main-menu-item'>
        <a href="#">Blog</a>
      </li>
    </ul>
  </nav>

</footer>
