/*

Colors
------

*/

.bgc-pink, .btn.bgc-pink {
  background-color: #eb416d;
}

.bgc-purple, .btn.bgc-purple {
  background-color: #d15cd3;
}

.bgc-green, .btn.bgc-green {
  background-color: #c6ff65;
}

.bgc-blue, .btn.btn-blue {
  background-color: #00dfff;
}

.text-color-pink {
  color: #eb416d
}

.text-color-purple {
  color: #d15cd3;
}

.text-color-green {
  color: #c6ff65;
}

.text-color-blue {
  color: #00dfff;
}



