{% extends "layout/application.html" %}

{% block maincontent %}
<div class="home background-holder">
  <div class="background background-home">
  </div>
  <div class="slide">
    <div class="home-content slide-content">
      <div class="title">
        <h1>future <span>lighthouse</span></h1>

      </div>
      <div class="slide-footer">
        <p class="claim">Time travelers. Builders of worlds. Psychonauts.</p>
        <div class="slide-footer-project">
          <p>Ray. A VR fairy tale</p>
          <a href="#" class="learn-more">Learn more</a>
        </div>
      </div>
    </div>
    <div class="slide-gradient"></div>
    <div class="background background-home"></div>
  </div>
</div>


 <!--  <div class="container-inner container-inner-home">
    <div class="home-content">
      <div class="home-logo">
        <h1>FUTURE</h1>
        <h1>LIGHTHOUSE</h1>
      </div>
      <home class="home-footer">
        <p class="claim">Time travelers. Builders of worlds. Psychonauts.</p>
        <div class="home-work">
          <p>Ray. A VR fairy tale</p>
          <a href="#">Lear More</a>
        </div>
      </home>
    </div>
  </div>
</div> -->
{% endblock %}
