{% extends "layout/application.html" %}

{% block maincontent %}
<div class="home background-holder">

  <div class="background background-home">
  </div>

  <div class="slide">
    <div class="slide-holder">
      <div class="slide-inner">
        <div class="home-content slide-content">
          <h1 class="home-logo"><a href="#">FUTURELIGHTHOUSE</a></h1>
          <h1 class="title"><span class="title-left">future</span><span class="block"><span class="title-center">light</span><span class="title-right">house</span></span></h1>
          <div class="slide-footer">
            <p class="claim"><span>Time travelers.</span><span>Builders of worlds.</span><span>Psychonauts.</span></p>
            <div class="slide-footer-project">
              <p>Ray. A VR fairy tale</p>
              <a href="#" class="learn-more">Learn more</a>
            </div>
          </div>
          </div>
          <div class="home-gradient slide-gradient"></div>
          <div class="background background-home"></div>
        </div><!-- slide-content -->
      </div><!-- slide-inner -->
    </div> <!-- slide-holder -->
  </div><!-- slide -->

</div><!-- home -->

{% endblock %}
