/*

About
------

*/

.about {
  background-image: url("../images/about.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  padding-top: 14rem;
  color: $white;
  background-color: #0A1b2b;
  position: relative;
}

.about-holder {
  max-width: 94rem;
  margin: auto;
  position: relative;
  z-index: 20;
}

.about-claim {
  margin-bottom: 6rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 9rem;
  }

  svg {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 940px;
      height: 382px;
    }
  }
}

.about-content-inner {
  line-height: 3.2rem;
  padding: 0 2rem;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about-title {
  text-transform: uppercase;
  margin-bottom: 2rem;

  @media screen and (min-width: 768px) {
    width: 25.5319%;
    text-align: right;
    padding-right: 6rem;
    margin-bottom: 0;
  }

  h6 {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.about-description {
  max-width: 60rem;
  font-size: 2rem;
  padding-bottom: 6rem;

  @media screen and (min-width: 768px) {
    width: 74.4681%;
    padding-bottom: 11.4rem;
  }

  p {
    margin-bottom: 4.4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about-description.last {
  padding-bottom: 0;
}

.about-link-holder {
  text-align: center;
  padding: 3rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.16);
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  margin-bottom: 4.4rem;
}

.about-link {
  color: #3178ff;
}

.about-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-logos-item {
  width: 50%;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 33%;
  }
}

.about-profiles-item {
  padding: 3.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.about-city {
  display: block;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.6rem;
}

