/*

Background
------

*/

.background-holder {
  height: 100vh;
  position: relative;
  width: 100vw;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  backface-visibility: hidden;
}

.background-home {
  background-image: url("../images/girl-light.jpg");
}

.background-work {
  background-image: url("../images/ray.jpg");
}

.background-filter {
  @media screen and (min-width: 768px) {
    filter: saturate(1.75) contrast(1.2);
  }
}
