/*

Footer
------

*/

.footer {
  font-size: 4rem;

  a {
    font-weight: 400;
  }

  @media screen and (min-width: 768px) {
    font-size: 1.2rem;
    position: absolute;
    left: 30px;
    bottom: 30px;
    right: 30px;
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;

    a {
      font-weight: 700;
    }
  }

  h1 {
    font-size: 1.2rem;
    line-height: 2rem;

    a {
      color: $white;
    }
  }
}

.footer-logo {
  display: none;

  a:hover:after {
    background-color: $white;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: left;
  }
}

.main-menu-item {
  margin-bottom: 6rem;

   @media screen and (min-width: 768px) {
    padding: 0 1rem;
    margin-bottom: 0;
  }
}

.main-menu-item.visible-xs {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.main-menu-item a {
  color: $white;

  @media screen and (min-width: 768px) {
    color: $gray;

  }

  &.is-active {
    color: $white;
  }
}

.main-menu-item a:hover:after {
  background-color: $gray;
  // width: 100%;
}
.main-menu-item a.is-active:after {
  // width: 100%;
  background-color: $white;
}

.footer-has-mail {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 11rem 6rem 6rem;
  background-image: linear-gradient(0deg, #0A1B2B 60%, rgba(10,27,43,0.00) 100%);
  font-size: 1.2rem;
  z-index: 20;
  min-height: 19rem;

  .footer-logo {
    position: absolute;
    left: 6rem;
    font-size: 1.2rem;

    a {
      color: $white;
    }
  }

  .mail {
    font-size: 2rem;
    color: #ED5B81;
  }

  nav {
    position: absolute;
    right: 6rem;
  }
}

.footer-mail-holder {
  width: 94rem;
  margin: auto;
  line-height: 2rem;
}

.footer-mail {
  width: 100%;

  .mail {
    width: 74.4681%;
    display: flex;
    align-content: flex-end;
    margin-left: auto;
    text-transform: none;
    font-weight: 400;
  }
}



