/*

Footer
------

*/

.footer {
  position: absolute;
  left: 30px;
  bottom: 30px;
  right: 30px;
  display: flex;
  font-size: 1.2rem;
  text-transform: uppercase;

  h1 {
    font-size: 1.2rem;

    a {
      color: $white;
    }
  }
}

.footer nav {
  margin-left: auto;
}

.main-menu {
  display: flex;
}

.main-menu-item {
  padding: 0 1rem;
}

.main-menu-item a {
  text-decoration: none;
  transition: border-bottom 0.5s ease;
  position: relative;
  color: $gray;
}

.main-menu-item a:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 1px;
  width: 0;
  transition: width 0.25s ease;
}

.main-menu-item a:hover:after {
  background-color: #999;
  width: 100%;
}
.main-menu-item a.is-active:after {
  width: 100%;
  background-color: #444;
}
