/*

Home
------

*/

.home {
  .title {
    font-size: 8vw;
    //font-size: 16rem;
    letter-spacing: -2px;
    line-height: 0.9;
    text-transform: uppercase;
  }

  .title-left,
  .title-right {
    position: absolute;
    z-index: 10;
    color: $white;
    font-weight: 700;
  }

  .title-left {
    left: -3%;
    width: 100%;
  }

  .title-right {
    right: -7%;
    display: block;
  }

  .learn-more {
    font-size: 1.2rem;
    color: #27A8E5;
    text-transform: uppercase;
    font-weight: 700;

    &:hover:after {
      background-color: #27A8E5;
    }
  }
}

.home-logo {
  font-size: 16rem;
  color: $white;
}

.home-content {
  color:$white;
  position: relative;
  z-index: 10;
  padding: 3.5rem 4rem 5rem;
  justify-content: flex-end;
  //padding: 8.5rem 9rem 9.8rem;
}

.home-gradient {
  opacity: 0.3;
  background-image: linear-gradient(to right, #0A1B2B 34%, rgba(0,0,0,0) 72%);
}

.home-footer {
  display: flex;
  font-size: 2rem;
}
