/*

Home
------

*/

.home {


  // .title-left,
  // .title-right {
  //   position: absolute;
  //   z-index: 20;
  //   color: $white;
  //   font-weight: 700;
  // }

  // .title-left {
  //   left: -3%;
  //   width: 100%;
  // }

  // .title-right {
  //   right: -6%;
  //   display: block;
  // }

  .learn-more {
    font-size: 1.2rem;
    color: #27A8E5;
    text-transform: uppercase;
    font-weight: 700;

    &:hover:after {
      background-color: #27A8E5;
    }
  }
}

.title {
  font-size: 23vw;
  //font-size: 16rem;
  letter-spacing: -2px;
  line-height: 0.9;
  text-transform: uppercase;
  position: relative;
  z-index: 20;
  font-weight: 900;

  .title-right,
  .title-center,
  .title-left {
    display: block;
  }

  .title-center {
    margin-left: 35%;
  }

  .title-left {
    margin-left: -12%;
  }

  @media screen and (min-width: 768px) {
    font-size: 10.8vw;

    .block {
      display: block;
      margin-left: 15%;
      white-space: nowrap;
    }

    .title-right,
    .title-center {
      display: inline-block;
    }

    .title-center {
      margin-left: 0;
    }

    .title-left {
      margin-left: -4%;
    }
  }
}

.claim {
  margin-bottom: 1rem;

  span {
    display: block;
    margin-bottom: 0.6rem;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;

    span {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

.logo {
  position: relative;
  z-index: 20;
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: uppercase;

  a {
    color: $white;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.home-content {
  color:$white;
  position: relative;
  z-index: 20;
  justify-content: space-between;

  //padding: 8.5rem 9rem 9.8rem;
  //
  @media screen and (min-width: 768px) {
    padding: 8vw 0 2vw 0;
  }

  @media screen and (min-width: 980px) {
    padding: 4vw 0 2vw 0;
  }
}

.home-gradient {
  opacity: 0.3;
}

.home-slide-footer {
  @media screen and (min-width: 768px) {
    padding: 0 2rem;
  }

  @media screen and (min-width: 980px) {
    padding: 0 5rem;
  }
}

.home-footer {
  display: flex;
  font-size: 2rem;
}

