/*

Modal
------

*/

.work-modal {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #0A1B2B 34%, #0A1B2B 72%);
  opacity: 0.9;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


.work-modal-intro {
  margin-bottom: 8rem;

  h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 6.4rem;
  }
}
.work-modal-content {
  width: 64rem;
}

.modal-action {
  display: flex;
  justify-content: space-between;
}

.modal-action-item {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn-modal {
    width: 19.2rem;
    height: 19.2rem;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.16);
  }

  button:disabled {
    opacity: 0.15;
  }

  svg {
    fill: $white;
  }

  .modal-image {
    display: inline-block;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }
}
