/*

Works
------

*/

.works {
  .slide-footer {
    opacity: 0;
    transition: all 0.5s 0.5s;
  }

  .learn-more {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.work-content {
  padding: 4.5vw 4rem 4vw 7rem;
  justify-content: space-between;
}

.work-info {
  position: relative;
  z-index: 20;
  max-width: 36rem;
}

.work-title {
  font-size: 6.4rem;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 3rem;
  transition: all 0.5s 0.1s;
  opacity: 0;
  font-weight: 300;

  span {
    display: block;
  }
}

.work-description {
  transition: all 0.5s 0.3s;
  opacity: 0;
  font-weight: 300;

  p {
    margin-bottom: 1.6rem;
  }
}

.works-gradient {
  opacity: 0.9;
  background-image: linear-gradient(to right, #0A1B2B 34%, rgba(0,0,0,0) 72%);
}

.animation-slide {
  .work-title,
  .separator,
  .work-description,
  .slide-footer {
    opacity: 1;
    transform: translateX(2rem);
  }

  .btn-play-holder {
    transform: translateX(-4rem);
    opacity: 1;
  }
}
