/* 1. Reset */

@import "sandbox/base/normalize";

/* 2. Settings */

@import "sandbox/settings/variables";

/* 3. Base */

@import "sandbox/base/global";
@import "sandbox/base/lists";
@import "sandbox/base/headings";
@import "sandbox/base/links";
@import "sandbox/base/label";
@import "sandbox/base/paragraphs";

/* 4. Helpers */

@import "sandbox/helpers/colors";

/* 5. Components */

@import "sandbox/components/footer";
@import "sandbox/components/button";
@import "sandbox/components/background";
@import "sandbox/components/home";
@import "sandbox/components/slide";
@import "sandbox/components/works";
@import "sandbox/components/separator";
@import "sandbox/components/work-modal";
@import "sandbox/components/about";



